*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
font-family:'Roboto', sans-serif;
}
/* coloquei para a transição da pagina ficar suave */
html{
  scroll-behavior: smooth;
}

.nav{
  background-color: black;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* para a caixa de menu ficar acompanhando a tela stick */
  position: sticky; 
  top: 0;
  z-index: 10;
}
.nav-list{
  display: flex; 
  text-align: center;
  list-style: none;
  align-items: center;
  margin-right:28px;

}
.nav-list a{
  text-decoration: none;
  color: #ddd;
  padding: 20px;
}
.nav-list a:hover{
  color: gold;
}
/* inicio da sessão do corpo da página */
.main{
  width: 100%;
  background-color: black;
  height: calc(100vh - 60px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.521)), url(images/IMG_6718.PNG);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 10%;
}
.main h1{
  color:gold;
  font-size: 55px;
}
.main p{
  color:gold;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.main button{
  cursor: pointer;
  background-color: wheat;
  border: 0;
  padding: 15px;
  font-size: 18px;
  font-weight:lighter ;
  transition: 0.7s;
}
.main button:hover{
  background-color: gold;
  transform: scale(1.1);
}
.main a{
  text-decoration: none;
  color: black;
}

.sobre{
  width: 100%;
  background-color: rgb(255, 215, 00);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sobre div{
  max-width: 50%;
  padding-right: 40px;
}

.sobre img{
  max-width: 450px;
  border-radius: 8px;
}

.sobre div h2{
  color: black;
  font-size: 32px;
  margin-bottom: 15px;
}

/* inicio da sessão de fotos */

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding-left: 10%;
  padding-right: 10%; 
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: bold;
  font-size: 25px;
  color: rgb(255, 215, 00);
}

.portfolio p{
  font-style: italic;
}

.portifolio-list{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio img{
  width: 25%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  border-radius: 8px;
  opacity: 0.5;
  transition: 0.7s;
}
.portfolio img:hover{
  opacity: 1;
  transform: scale(1.1);  
}

.action{
  padding: 12px 24px;
  border-radius: 8px;
  background-color:wheat;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: 0.7s;
}
.action:hover{
  background-color: gold;
  transform: scale(1.1);  
}
 /* começo do rodapé */

.rodape{
  width: 100%;
  background-color: rgb(255, 215, 00);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 1.5%;
  color: black;
}
.rodape a {
  text-decoration: none;
  color: black;
}
.rodape a:hover{
  color: rgba(105, 105, 105, 0.719);
}
.rodape p{
  margin-left: 20px;
}

/* responsividade pra saber até que ponto o site fica bom em qualquer tela*/
@media (max-width: 628px){
.main h1{
  font-size: 38px;
}
.main p{
  font-size: 20px;
}
.main{
  background-size: cover;
}
/* fim do main */
.sobre{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 3;
  padding-bottom: 0;
}
.sobre div{
  max-width: 70%;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.sobre img{
  max-width: 80%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.portfolio img{
  width: 28%;
  margin-left: 0.5%;
  margin-right: 0.5
}

.rodape{
  flex-direction:column;
  align-items: center;
  justify-content: center
}
.rodape p{
  margin-left: 0;
}

}